nav
{
    float: right;
}
header
{
    border-style:solid;
    
    background-color: #ffffff; 
    border-color: #cccccc;
}

body
{
    background-color: #ffffff;
}

.kirby
{
   border-color: #4aaaa5;
   background-color:  #4aaaa5;
}